body{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content:center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(https://img.itdg.com.br/tdg/images/blog/uploads/2017/07/shutterstock_259773713.jpg?w=1200);
}

/*div onde contém o cabeçalho*/
.siteHeader{
    display: flex;
    flex-direction: column;
    height: 150px;
    background-color: rgb(5, 5, 5);
    align-items: center;
}

/*imagem do logo*/
.logo{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  right: 45%;
  /*background-color: rgba(240, 248, 255, 0.548);*/
  width: 150px;
  height: 150px;

}

/*Nome e slogan no head*/
.bnBurguer{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10%;
    padding: 1%;
    font-size: 40px;
    /*background-color: rgb(143, 143, 143);*/
    color: white;
    width: 350px;
}

.experiencia{
    display: flex;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    top: 10%;
    /*background-color: rgba(240, 248, 255, 0.418);*/
}

/*lista  esquerda do head*/
.listaHeader{
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    top: 130px;
    left: 100px;
    
    

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: brown;*/
  }

  li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 80px;
    
  }

  /*contatos header lado direito*/
  .telefoneHeader{
    position: absolute;
    right: 200px;
    top: 129px;
    width: 120px;
    /*background-color: rgba(125, 125, 126, 0.288);*/
  }

  .iconesHeader{
    position: absolute;
    right: 50px;
    top: 129px;
    width: 120px;
    /*background-color: rgba(125, 125, 126, 0.288);*/
    
  }


  /*parte central para fazer pedido*/

  .bgLayer{
    display: flex;
    flex-direction: column;
    background-color: rgba(51, 51, 51, 0.616);
    height: 600px;
    
  }

.bemVindo{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(22, 22, 22, 0.651);
  width: 700px;
  height: 450px;
  right: 10%;
  top: 230px;
}